{% extends 'base.html.twig' %}

{% block title %}
	Wilo
{% endblock %}

{% block body %}

	<div class="login">
		<a href="{{ path('home') }}">
			<span class="closebtn2">&times;</span>
		</a>
	</div>

	<div class="center1">
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="info">
					<span class="closebtn" role="alert" onclick="this.parentElement.style.display='none';">&times;</span>
					Vous êtes déja connecté en tant que
					{{ app.user.pseudo }}
					!
				</div>
			{% else %}
				<h1 class="h3 mb-3 font-weight-normal">Connection</h1>
				<label for="inputEmail"></label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="champ" placeholder="Email" required autofocus>
				<label for="inputPassword"></label>
				<input type="password" name="password" id="inputPassword" class="champ" placeholder="Password" required>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<button class="btn" type="submit">
					Connection
				</button>
			</form>
			<div class="mdpPerdu">
				<a href="{{ path('app_forgot_password_request') }}">
					Mot de passe perdu ?
				</a>
			</div>
			<div class="mdpPerdu">
				<a href="{{ path('app_register') }}">
					Nous rejoindre !
				</a>
			</div>
		</div>
	{% endif %}


{% endblock %}
