{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<div class="login">
		<a href="{{ path('home') }}">
			<span class="closebtn2">&times;</span>
		</a>
	</div>

	<div class="center">
		<h1>Enregistrement</h1>

		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.pseudo, {
            label: ' ',
			attr: {
    			placeholder: 'Pseudo',
				class: 'champ'}
        }) }}
		{{ form_row(registrationForm.email, {
            label: ' ',
			attr: {
    			placeholder: 'Email',
				class: 'champ'}
        }) }}
		{{ form_row(registrationForm.plainPassword, {
            label: ' ',
			attr: {
    			placeholder: 'Mot De Passe',
				class: 'champ'}
        }) }}
		<div class="btnCentre">
			<div class="tcheckTerme">
				{{ form_row(registrationForm.agreeTerms, {
            		label: 'Accepter les termes'
				}) }}
			</div>

			<button type="submit" class="btn" id="btnSave">Enregistrement</button>
		</div>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
