{% extends 'base.html.twig' %}

{% block title %}Reset your password
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('reset_password_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<div class="login">
		<a href="{{ path('home') }}">
			<span class="closebtn2">&times;</span>
		</a>
	</div>

	<div class="center">
		<h1 id="res">Réinitialisation</h1>

		{{ form_start(requestForm) }}
		<div class="tcheckTerme">
			{{ form_row(requestForm.email, {
                label: ' ',
                attr: {
                    placeholder: 'Email',
                    class: 'champ'}
            }) }}
		</div>
		<div class="tcheckTerme">
			<button class="btn btn-primary">Envoyer l'email</button>
		</div>
		{{ form_end(requestForm) }}
	</div>
{% endblock %}
