{% extends 'base.html.twig' %}

{% block title %}Wilo
{% endblock %}

{% block body %}
	{% if app.user %}
		<div class="connectOrNot">
			<div class="avatar">
				<img src="{{ asset('icon/avatar/avatar2.png')}}" alt="Avatar player">
			</div>
			<div class="pseudo">
				{{ app.user.pseudo }}
			</div>
			<div class="jetons">
				<img src="{{ asset('icon/coin/coin4.png')}}" alt="Icone jeton">
				{{ app.user.jetons }}
			</div>
			<div id="deconnexion">
				<a href="{{ path('app_logout') }}">Déconnexion</a>
			</div>
		</div>
	{% else %}
		<div class="connexionBtn">
			<a href="{{ path('app_login') }}">
				<button>Connexion</button>
			</a>
		</div>
	{% endif %}
	<div class="nousRejoindre">
		<a href="{{ path('app_register') }}">
			<button>Nous Rejoindre</button>
		</a>
	</div>
{% endblock %}
