{% extends 'base.html.twig' %}

{% block title %}
	Wilo
{% endblock %}

{% block body %}

	<div class="login">
		{% if app.user %}
			<div class="connectOrNot" data-user="{{ app.user.jetons|json_encode }}">
				<div class="avatar">
					<img src="{{ asset('icon/avatar/avatar2.png')}}" alt="Avatar player">
				</div>
				<div class="infoCompte">
					<div class="pseudo">
						{{ app.user.pseudo }}
					</div>
					<div class="jetons">
						<img src="{{ asset('icon/coin/coin4.png')}}" alt="Icone jeton">
						{{ app.user.jetons }}
					</div>
					<div class="deconnexion" onclick="location.href='{{ path('app_logout') }}'">
						<p>Déconnexion</p>
					</div>
				</div>
			</div>
		{% else %}
			<div class="connexionBtn">
				<a href="{{ path('app_login') }}">
					<button class="btn">Connexion</button>
				</a>
			</div>
		{% endif %}
	</div>

	<div class="menu">
		<ul id="navigation">
			<li>
				<a href="{{path('home')}}" title="Accueil">Accueil</a>
			</li>
			<li>
				<a href="{{path('jeux')}}" title="Jeux">Jeux</a>
			</li>
		</ul>
	</div>

	{% if app.user %}
		<div class="carte">
			<div class="carteImg">
				<img src="{{ asset('icon/pfc/illustration.png')}}">
			</div>
			<div class="carteTitre">
				<p>Pierre</p>
				<p>Feuille</p>
				<p>Ciseaux</p>
			</div>
			<div class="cartePlay" onclick="location.href='{{ path('pfc') }}'">
				<p>Jouer</p>
			</div>
		</div>
	{% else %}
		<div class="info">
			<span class="closebtn" role="alert" onclick="this.parentElement.style.display='none';">&times;</span>
			Connectez vous pour jouer !
		</div>
	{% endif %}
{% endblock %}
