{% extends 'base.html.twig' %}

{% block title %}
	Wilo
{% endblock %}

{% block body %}

	<div class="login">
		{% if app.user %}
			<div class="connectOrNot" data-user="{{ app.user.id|json_encode }}">
				<div class="avatar">
					<img src="{{ asset('icon/avatar/avatar2.png')}}" alt="Avatar player">
				</div>
				<div class="infoCompte">
					<div class="pseudo">
						{{ app.user.pseudo }}
					</div>
					<div class="jetons">
						<img src="{{ asset('icon/coin/coin4.png')}}" alt="Icone jeton">
						{{ app.user.jetons }}
					</div>
					<div class="deconnexion" onclick="location.href='{{ path('app_logout') }}'">
						<p>Déconnexion</p>
					</div>
				</div>
			</div>
		{% else %}
			<div class="connexionBtn">
				<a href="{{ path('app_login') }}">
					<button class="btn">Connexion</button>
				</a>
			</div>
		{% endif %}
	</div>

	<div class="game">
		<div class="ordi">
			<img src="{{ asset('icon/pfc/ciseaux.png')}}" style="display:none;" id="ciseauxOrdi">
			<img src="{{ asset('icon/pfc/papier.png')}}" style="display:none;" id="papierOrdi">
			<img src="{{ asset('icon/pfc/pierre.png')}}" style="display:none;" id="pierreOrdi">
		</div>
		<div class="vs">
			<img src="{{ asset('icon/pfc/vs.png')}}">
		</div>
		<div class="player">
			<img src="{{ asset('icon/pfc/ciseaux.png')}}" style="display:none;" id="ciseauxPlayer">
			<img src="{{ asset('icon/pfc/papier.png')}}" style="display:none;" id="papierPlayer">
			<img src="{{ asset('icon/pfc/pierre.png')}}" style="display:none;" id="pierrePlayer">
		</div>
	</div>

	<div class="box">
		<button class="btn" onclick="pierre()" id="btnPierre">Pierre</button>
		<button class="btn" onclick="papier()" id="btnFeuille">Feuilles</button>
		<button class="btn" onclick="ciseaux()" id="btnCiseaux">Ciseaux</button>
	</div>

	<script>
		function ciseaux() {
document.getElementById("ciseauxPlayer").style.display = "none";
document.getElementById("papierPlayer").style.display = "none";
document.getElementById("pierrePlayer").style.display = "none";
document.getElementById("ciseauxPlayer").style.display = "initial";
};
function papier() {
document.getElementById("papierPlayer").style.display = "none";
document.getElementById("ciseauxPlayer").style.display = "none";
document.getElementById("pierrePlayer").style.display = "none";
document.getElementById("papierPlayer").style.display = "initial";
};
function pierre() {
document.getElementById("pierrePlayer").style.display = "none";
document.getElementById("papierPlayer").style.display = "none";
document.getElementById("ciseauxPlayer").style.display = "none";
document.getElementById("pierrePlayer").style.display = "initial";
};
	</script>
{% endblock %}
