{% extends 'base.html.twig' %}

{% block title %}
	Wilo
{% endblock %}

{% block body %}
	<div class="login">
		{% if app.user %}
			<div class="connectOrNot" data-user="{{ app.user.jetons|json_encode }}">
				<div class="avatar">
					<img src="{{ asset('icon/avatar/avatar2.png')}}" alt="Avatar player">
				</div>
				<div class="infoCompte">
					<div class="pseudo">
						{{ app.user.pseudo }}
					</div>
					<div class="jetons">
						<img src="{{ asset('icon/coin/coin4.png')}}" alt="Icone jeton">
						{{ app.user.jetons }}
					</div>
					<div class="deconnexion" onclick="location.href='{{ path('app_logout') }}'">
						<p>Déconnexion</p>
					</div>
				</div>
			</div>
		{% else %}
			<div class="connexionBtn">
				<a href="{{ path('app_login') }}">
					<button class="btn">Connexion</button>
				</a>
			</div>
		{% endif %}
	</div>

	<div class="game">
		<img src="{{ asset('icon/pfc/ciseaux.png')}}" style="display:none;" id="ciseauxPlayer">
	</div>

	<div class="box">
		<button class="btn">Pierre</button>
		<button class="btn">Feuilles</button>
		<button class="btn" onclick="ciseaux()">Ciseaux</button>
	</div>

	<div class="resultat"></div>

	<script>
		function ciseaux() {
document.getElementById("ciseauxPlayer").style.display = "initial";
}
	</script>
{% endblock %}
