{% extends 'base.html.twig' %}

{% block title %}WILO | Contact{% endblock %}

{% block body %}
    <div class='min-h-screen pt-40 pb-20 px-60 flex flex-col justify-center'>
        {% for message in app.flashes('success') %}
            <div class="bg-green-200 px-6 py-4 mx-2 my-4 rounded-md text-lg flex items-center mx-auto w-3/4 xl:w-2/4">
                <svg viewBox="0 0 24 24" class="text-green-600 w-5 h-5 sm:w-5 sm:h-5 mr-3">
                    <path fill="currentColor" d="M12,0A12,12,0,1,0,24,12,12.014,12.014,0,0,0,12,0Zm6.927,8.2-6.845,9.289a1.011,1.011,0,0,1-1.43.188L5.764,13.769a1,1,0,1,1,1.25-1.562l4.076,3.261,6.227-8.451A1,1,0,1,1,18.927,8.2Z"
                    ></path>
                </svg>
                <span class="text-green-800">{{message}}</span>
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="bg-red-200 px-6 py-4 mx-2 my-4 rounded-md text-lg flex items-center mx-auto w-3/4 xl:w-2/4">
                <svg viewBox="0 0 24 24" class="text-red-600 w-5 h-5 sm:w-5 sm:h-5 mr-3">
                    <path fill="currentColor" d="M11.983,0a12.206,12.206,0,0,0-8.51,3.653A11.8,11.8,0,0,0,0,12.207,11.779,11.779,0,0,0,11.8,24h.214A12.111,12.111,0,0,0,24,11.791h0A11.766,11.766,0,0,0,11.983,0ZM10.5,16.542a1.476,1.476,0,0,1,1.449-1.53h.027a1.527,1.527,0,0,1,1.523,1.47,1.475,1.475,0,0,1-1.449,1.53h-.027A1.529,1.529,0,0,1,10.5,16.542ZM11,12.5v-6a1,1,0,0,1,2,0v6a1,1,0,1,1-2,0Z"
                    ></path>
                </svg>
                <span class="text-red-800">{{messages}}</span>
            </div>
        {% endfor %}
        {{ form_start(form, {'attr': {'class': 'flex flex-col items-center'}}) }}
            {{ form_widget(form.nom, {
                'attr': {
                    'class': 'mb-6 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-yellow-500',
                    'placeholder': "Nom"
                }
            }) }}
            {{ form_widget(form.email, {
                'attr':{
                    'class': 'mb-6 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-yellow-500',
                    'placeholder': "Email"
                }
            }) }}
            {{ form_widget(form.tel, {
                'attr':{
                    'class': 'mb-6 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-yellow-500',
                    'placeholder': "Téléphone"
                }
            }) }}
            {{ form_widget(form.message, {
                'attr':{
                    'class': 'mb-6 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-yellow-500',
                    'placeholder': "Message"
                }
            }) }}
            {{ form_row(form.enregistrer, {
                'attr':{
                    'class': 'mx-auto lg:mx-0 bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out'
                }
            }) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
